{{ define "bulkTidDeletePartial" }}
<script src="/assets/js/bulkSiteTidDelete.js"></script>
<script src="/assets/js/warningMessage.js"></script>
<script src="/assets/js/confirmation.js"></script>

<div>
    <div>
        <h4>Bulk TID Delete</h4>
        <form id="tid-delete-upload">
            <div class="row spaced-bottom indent">
                <input id="tid-delete-upload-file" name="file" type="file" class="form-control-file"/>
            </div>
            <div class="mt-2 spaced-bottom indent">
                <button type="button" id="tid-delete-upload-file-button" class="btn btn-danger my-2 my-sm-0" onclick="bulkDeleteTid()">Delete</button>
            </div>
            {{ .CSRFField }}
        </form>
    </div>
    <div id="tid-delete-results">

    </div>
</div>

{{ end }}