{{ define "bulkSiteUpdateResults" }}

<div>
  {{ if .UpdateStatus }} <!-- When an element fails validation we need to display it here-->
  <div class="row">
    <h4 class="success">Site Update Successful !</h4>
  </div>
  {{ else }}
  <div>
    <h4 style="color: red">Site Update Failed !</h4>
    <table id="site-update-failed-validation-table" class="table table-striped table-sm">
      <thead>
        <tr>
          <th id="site-failure-header-entry-no" scope="col">MID</th>
          <!-- Relates to failed TID's index in the csv file -->
          <th id="site-failure-header-element-name" scope="col">Element Name</th>
          <!-- The name of the element that has failed validation -->
          <th id="site-failure-header-reason" scope="col">Validation Failure Reason</th>
        </tr>
      </thead>
      {{ range $vals := .Validations }}
      <tr class="cap-height">
        <td>{{ $vals.EntryNo }}</td>
        <td>{{ $vals.DataElement }}</td>
        <td>{{ $vals.FailureReason }}</td>
      </tr>
      {{ end }}
    </table>
  </div>
  {{ end }}
</div>
{{template "confirm" .}}
{{template "footer" .}}
{{ end }}