{{define "passwordChange"}}

    {{template "headerSimple" .}}

    <script src="/assets/js/warningMessage.js"></script>
    <script src="/assets/js/passwordChange.js"></script>
    {{.CSRFField}}
    {{ $un := .PageModel.Username }}
    {{ $cr := .PageModel.ChangeReason }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Change Password</h1>
                {{template "warning"}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-left">{{ $cr }} Use the form below to change your password.</p>
                <form method="post" id="passwordForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="text-left">Username:</h3>
                        </div>
                        <div class="col-sm-6">
                            <h3 id="username">{{ $un }}</h3>
                        </div>
                    </div>
                    <div class="row mt-2"></div>
                    <input type="password" class="input-lg form-control mb-6" name="oldPassword" id="old-password" placeholder="Old Password" autocomplete="off">
                    <div class="row mt-2"></div>
                    <input type="password" class="input-lg form-control" name="newPassword" id="new-password" placeholder="New Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <span id="6char-validation" class="errorCross">&#10008;</span> 6 Characters Long<br>
                            <span id="ucase-validation" class="errorCross">&#10008;</span> One Uppercase Letter<br>
                            <span id="non-an-validation" class="errorCross">&#10008;</span> One non-alphanumeric character
                        </div>
                        <div class="col-sm-6">
                            <span id="lcase-validation" class="errorCross">&#10008;</span> One Lowercase Letter<br>
                            <span id="num-validation" class="errorCross">&#10008;</span> One Number<br>
                            <span id="excludes-username-validation" class="errorCross">&#10008;</span> Does not contain username
                        </div>
                    </div>
                    <input type="password" class="input-lg form-control" name="newPasswordRepeat" id="new-password-repeat" placeholder="Repeat Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="pwmatch-validation" class="errorCross">&#10008;</span> Passwords Match
                        </div>
                    </div>
                    <input id="change-password-btn" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
                </form><!--/passwordForm-->
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>

{{end}}