{{define "updateDetailsSNPartial"}}
<link rel="stylesheet" type="text/css" href="/assets/css/jquery.datetimepicker.min.css"/>
<script src="/assets/js/jquery.datetimepicker.full.js"></script>

<div id="updateDetailsSNRows">
    {{ range $t := .PageModel.Updates }}
        {{ template "updateDetailsSNRow" dict "update" $t "model" $.PageModel }}
    {{ end }}
</div>

{{end}}

{{ define "updateDetailsSNRow" }}

<tr id="updateDetailsRow{{ .update.UpdateID }}">
    <td id ="versionDropdown{{ .update.UpdateID }}" version-select-sn="{{ .update.UpdateID }}">
        <select id="version_select_sn_{{ .update.UpdateID }}" name="version_{{ .update.UpdateID }}"   class="form-select mr-sm-0">
                <option selected value="0">Select Target Software</option>
            {{range .model.Packages}}
                <option {{if (eq $.update.PackageID .PackageID)}} selected {{end}} value="{{ .PackageID }}">{{.Version}}</option>
            {{end}}
        </select>
    </td>
    <td id="UpdateDateCellSN{{ $.update.UpdateID }}">
            <input id="date{{ $.update.UpdateID }}" name="date_{{ .update.UpdateID }}" class="inputDateTime" type="form-control" value="{{ .update.UpdateDate }}" readonly="readonly">
    </td>
    <td id="manage-third-party-target{{ $.update.UpdateID }}">
        <button id='manageThirdPartyTarget{{ $.update.UpdateID }}' type="button" class="btn btn-secondary btn-sm float-end" onClick="manageThirdPartyTID( {{ .model.TID }}, {{ .model.SiteID }}, {{ .update.UpdateID }} )">3rd Party Target</button>
    </td>
</tr>

{{ end }}